<div class="mainBody">

  <h1>
    Change Person's Detail
  </h1>
  <button class="discard-button" (click)="discardChange()">Discard change(s) and back to home page</button>

  <form
    fxLayout="row wrap"
    fxLayoutAlign="space-around none"
    [formGroup]="profileForm"
    (ngSubmit)="onSubmit()"
    fxflexfill
    fxlayoutgap="10px grid"
  >

    <mat-form-field fxflex="67" fxflex.gt-sm="33" appearance="fill">
      <mat-label for="firstName">First Name: </mat-label>
      <input (change)="verifyFirstName()" matInput id="firstName" type="text" formControlName="firstName">
      <div class="Invalid" [hidden]="!wrongFirstName">Invalid First Name</div>
    </mat-form-field>

    <mat-form-field fxflex="67" fxflex.gt-sm="33" appearance="fill">
      <mat-label for="lastName">Last Name: </mat-label>
      <input (change)="verifyLastName()" matInput id="lastName" type="text" formControlName="lastName">
      <div class="Invalid" [hidden]="!wrongLastName">Invalid Last Name</div>
    </mat-form-field>

    <mat-form-field fxflex="67" fxflex.gt-sm="33" appearance="fill">
      <mat-label for="email">Email: </mat-label>
      <input (change)="verifyEmail()" matInput id="email" type="email" formControlName="email">
      <div class="Invalid" [hidden]="!wrongEmail">Invalid Email</div>
    </mat-form-field>

    <mat-form-field fxflex="67" fxflex.gt-sm="33" appearance="fill">
      <mat-label for="telephoneNumber">Telephone Number: </mat-label>
      <input (change)="verifyTelephoneNumber()" matInput id="telephoneNumber" type="tel" formControlName="telephoneNumber">
      <div class="Invalid" [hidden]="!wrongTelephoneNumber">Invalid Telephone Number</div>
    </mat-form-field>

    <mat-form-field fxflex="67" fxflex.gt-sm="33" appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="dateOfBirth" autocomplete="off">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

  </form>
  <button class="save-button" (click)="onSubmit()" type="submit" [disabled]="!profileForm.valid">Save</button>
</div>
